<h1 style="text-align:center;" >Cadastra-se</h1>
<div class="row">
<style>
  .btn-leo {
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: #F50F55;
    border-radius: 5px;
    border: 1px solid #fff;
    font-weight: bold;
  }
  .btn-leo:hover {
    opacity: 0.6;
  }
</style>

  <div class="container">
    <%= form_for @user do |f| %>
      <%= render 'fields', f: f %>

      <%= f.submit 'Cadastrar', class: 'btn-leo' %>
    <% end %>
  </div>
</div>